<h1>Attractions:</h1>
<% @attractions.each do |a| %>
  <% if @user.admin == true %>
    <h2><%= link_to "Show #{a.name}", attraction_path(a) %></h2>
  <%else%>
    <h2><%= link_to "Go on #{a.name}", attraction_path(a) %></h2>
  <%end%>
<%end%>

<% if @user.admin == true %>
<%= link_to "New Attraction", new_attraction_path %>
<%end%>

